/* shared css */

body{
    margin: 0;
}

body{
    margin: 0px;
    background-color: #FFFFFF;
    background-position: left right;
    background-repeat: repeat-y;
}

html, body {
    height: 100%;
}

.regular {
    font-family:'AvenirNextLTW01-Regular', 'Courier';
}
.italic {
    font-family:'AvenirNextLTW01-Italic', 'Courier';
}
.demi {
    font-family:'Avenir Next LT W01 Demi', 'Courier';
}
.demi-italic {
    font-family:'AvenirNextLTW01-DemiIta', 'Courier';
}
.bold {
    font-family:'Avenir Next LT W01 Bold', 'Courier';
}
.bold-italic {
    font-family:'AvenirNextLTW01-BoldIta', 'Courier';
}
.medium {
    font-family:'AvenirNextLTW01-Medium', 'Courier';
}
.medium-italic {
    font-family:'AvenirNextLTW01-MediumI_721278', 'Courier';
}
.black {
    font-family:'Avenir LT W01_95 Black1475556', 'Courier';
}

.show-for-small {
    display: none !important;
}

.show-for-large {
    display: inline-block !important;
}