/* index page */

.index {
    
    body {
        background-image: url(../images/bg2.png);
    }

    #mainContainer{
        width: 100%;
        max-width: 100%;
        min-height:100%;
        position: relative;
        background-color: #bdefe2;
        background-image: url(../images/frontbg_1920.png);
        background-size: cover;
        background-position: bottom right;
        background-repeat: no-repeat;
        
        @media only screen and (max-width : 1024px){
        
            width: 100%;
            min-height:100%;
            position: relative;
            background-color: #bdefe2;
            background-image: url(../images/frontbg_1024.png);
            background-size: contain;
            background-repeat: no-repeat;
            
        }
        
        
    }
    
    #contentContainer{
        
        padding: 40px;
        display: inline-block;
        
        @media only screen and (max-width : 1024px){
            padding: 20px;
        }
        
    }

    #contentBox{
        width: calc(50% - 20px);
        float: left;
        position: relative;
        padding: 20px 0;
        background-color: $white;
        color: $primary-color;
        
        @media only screen and (max-width : 1024px){
            display: inline-block;
            position: relative;
            margin-bottom: 30px;
            width: 100%;
        }
           
    }
    
    
    
    #contentBox > div {
        padding: 0 20px;
    }   

    #contentTitle{
        font-size: 2rem;
        line-height: 2.5rem;
        font-family: $body-font-family-black;
        margin: 20px 0;
    }

    #contentText{
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-family: $body-font-family-medium;
        font-weight: bold;
    }

    #buttonFacts{
        background-image: url(../images/button_facts.png);
        background-repeat: no-repeat;
        width: 250px;
        height: 37px;
        cursor: pointer;
        margin: 40px 0 20px 20px;
        
        @media only screen and (max-width : 1024px){
            background-image: url(../images/button_facts.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $primary-color;
            width: 40%;
            height: 37px;
            cursor: pointer;
        }
        
    }

    #sticker{
        position: absolute;
        right: -43px;
        bottom: -80px;
        background-image: url(../images/sticker.png);
        background-repeat: no-repeat;
        width: 197px;
        height: 198px;
        z-index: 99999;
    }

    #infoContainer{
        display: inline-block;
        color: $primary-color;
        width: 50%;
        margin-left: 20px;
    }

    .infoBox{
        background-color: $white;
        line-height: 40px;
        font-size: 36px;
        font-family: $body-font-family;
        text-transform: uppercase;
        padding: 18px;
        margin-bottom: 20px;
    }

    #sponsorContainer{
        position: relative;
        width: auto;
        height: 86px;
    }

    #sponsorTitle{
        background-image: url(../images/sponsors.png);
        width: 231px;
        height: 38px;
        position: absolute;
        bottom: 0;
    }

    #footer{
        margin-top: 80px;
        padding: 40px;
        clear: both;
 
    }

    @media only screen and (max-width : 1024px){



        #contentTitle{
            font-size: 1.5rem;
            line-height: 1.75rem;
            font-family: $body-font-family-black;
        }

        #contentText{
            font-size: 1rem;
            line-height: 1.25rem;
            font-family: $body-font-family-medium;
            font-weight: bold;
        }

        #sticker{
            position: absolute;
            right: 0;
            bottom: -5%;
            background-image: url(../images/sticker.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 25%;
            height: 25%;
            z-index: 99999;
        }

        #infoContainer{
            display: inline-block;
            width: 100%;
            color: #ff6e41;
            margin-left: 0;
        }

        .infoBox{
            background-color: $white;
            display: inline-block;
            font-size: 1rem;
            line-height: 1.125rem;
            font-family: $body-font-family;
            font-weight: bold;
            text-transform: uppercase;
            padding: 20px;
            margin-bottom: 10px;
        }

        #sponsorContainer{
            position: relative;
            width: auto;
            height: 86px;
        }

        #sponsorTitle{
            background-image: url(../images/sponsors.png);
            width: 231px;
            height: 38px;
            position: absolute;
            bottom: 0;
        }

        #footer{
            padding: 20px;
        }
    }
    
    
}



