*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: #FFFFFF;
    background-position: left right;
    background-repeat: repeat-y;
    font-family: 'AvenirNextLTW01-Regular', sans-serif;
}
html, body {
    height: 100%;
}

.regular {
    font-family:'AvenirNextLTW01-Regular', 'Courier';
}
.italic {
    font-family:'AvenirNextLTW01-Italic', 'Courier';
}
.demi {
    font-family:'Avenir Next LT W01 Demi', 'Courier';
}
.demi-italic {
    font-family:'AvenirNextLTW01-DemiIta', 'Courier';
}
.bold {
    font-family:'Avenir Next LT W01 Bold', 'Courier';
}
.bold-italic {
    font-family:'AvenirNextLTW01-BoldIta', 'Courier';
}
.medium {
    font-family:'AvenirNextLTW01-Medium', 'Courier';
}
.medium-italic {
    font-family:'AvenirNextLTW01-MediumI_721278', 'Courier';
}
.black {
    font-family:'Avenir LT W01_95 Black1475556', 'Courier';
}

#mainContainer{
    width: 100%;
    min-height:100%;
    position: relative;
}

#contentContainer{
    padding: 50px 0px 50px 50px;
    background-color: #bdefe2;
}

#contentTitle, .contentTitle {
    font-size: 36px;
    font-family:'Avenir LT W01_95 Black1475556', 'Courier';
    color: #ff6e41;
    display: block;
}

.contentTitle {
    display: none;
}

#floor{
    background-image: url(../images/floor.png);
    width: 800px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}
.floorButton{
    width: 10%;
    height: 10%;
    display: block;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255,0,0,0);
}
#floorButtonInfo{
    max-width: 150px;
    position: absolute;
    background-color: transparent;
    padding: 10px;
    color: #FFFFFF;
    font-family: $body-font-family-black;
    font-size: 12px;
}
#backgroundImage{
    display: none;
}
#form{
    display: block;
    position: relative;
    margin-top: 50px;
    max-width: 600px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
}
::-moz-placeholder { /* Firefox 19+ */
    color: red;
}
:-ms-input-placeholder { /* IE 10+ */
    color: red;
}
:-moz-placeholder { /* Firefox 18- */
    color: red;
}


.formField{
    display: inline-block;
    padding: 15px;
}
.formFieldFullWidth{
    display: block;
    margin-bottom: 30px;
    width: 100%;
}
#form_company{
    width: 100%;
    max-width: 100%;
}
.label{
    font-family:'AvenirNextLTW01-Regular', 'Courier';
    font-size: 16px;
    font-weight: bold;
    color: #ff6e41;
}
.textInput{
    line-height: 50px;
    color: #ff6e41;
    font-size: 20px;
    font-family: $body-font-family-black;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding-left: 15px;
    width: 100%;
}
.textAreaInput{
    color: #ff6e41;
    font-size: 20px;
    font-family: $body-font-family-black;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    width: 100%;
    height: 137px;
    padding: 15px;
    resize: none;
}
.formButton{
    color: #FFFFFF;
    font-size: 14px;
    font-family: $body-font-family-black;
    line-height: 42px;
    background-color: #ff6e41;
    display: inline-block;text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    cursor: pointer;
    margin-bottom: 12px;
    margin-right: 12px;
}
.formButton > a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family: $body-font-family-black;
}

#terms{
    position: absolute;
    top: -15px;
}
#terms a{
    text-decoration: underline;
    color: #ff6e41;
    font-size: 12px;
    font-family:'AvenirNextLTW01-Regular', 'Courier';
}
#sticker2{
    position: absolute;
    right: -2px;
    bottom: -40px;
    background-image: url(../images/sticker2.png);
    width: 153px;
    height: 153px;
    z-index: 10;
    cursor: pointer;
}
#logos{
    background-image: none;
    width: 653px;
    height: 530px;
    display: block;
    position: absolute;
    left: 570px;
    top: -10px;
    z-index: 999999;
    cursor: pointer;
}
#contactsContainer{
    margin-bottom: 30px;
}

#contactTitle{
    font-size: 30px;
    font-family: $body-font-family-black;
    color: #ff6e41;
    margin-top: 50px;
    display: block;
}

.contactPerson{
    font-size: 14px;
    font-family:'AvenirNextLTW01-Regular', 'Courier';
    color: #ff6e41;
    padding-top: 23px;
    padding-bottom: 15px;
    padding-right: 23px;
    background-image: url(../images/spacerline.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: auto;
    vertical-align: top;
}
.contactPerson:first-child{
    padding-top: 23px;
    padding-bottom: 15px;
    background-image: none;
    display: inline-block;
    width: 100%;
}
.contactPerson > span:first-child{
    font-weight: bold;
}

.background-wrapper{
    display: table;
    height: 100%;
}

.background-wrapper > div{
    display: table-cell;
    vertical-align: top;
    height: 100%;
}

.background-wrapper .image-wrapper img{
    height: 100%;
}

.row{
    box-sizing: border-box;
}

.row .row{
    margin: 0px -15px;
}

.row:after{
    display: table;
    clear: both;
    content: "";
    width: 100%;
}

.col{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.floor-col{
    padding: 30px;
    width: 55%;
}

.form-col{
    width: 45%;
}

.label{
    margin-bottom: 5px;
}

.rules{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
    color: #ff6e41;
    margin-top: 5px;
}

.msg{
    color: red;
    margin-top: 5px;
}

.checkbox-wrapper input{
    display: none;
}

.checkbox-wrapper label{
    display: table;
    content: "";
    clear: both;
    cursor: pointer;
    background-color: #ff6e41;
    padding: 5px;
}

.checkbox-wrapper span, .checkbox-wrapper label:before{
    display: inline-block;
    float: left;
}

.checkbox-wrapper label:before{
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #ff6e41;
    text-align: center;
    content: " ";
    background-color: #fff;
    margin-right: 10px;
    font-size: 32px;
}

.checkbox-wrapper span{
    color: #fff;
    font-family: inherit;
    line-height: 110%;
}

.checkbox-wrapper input:checked + label:before{
    content: "\2714";
}


.remodal h2{
    font-size: 24px;
    font-weight: bold;
}

.remodal ol{
    list-style: numeric;
    text-align: left;
}

.remodal ol li{
    text-align: left;
    padding: 5px;
}

.remodal .remodal-confirm{
    background-color: #ff6e41;
    margin-top: 20px;
}

.remodal.companies-modal{
    padding: 0px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);

    .remodal-close{
        left: auto;
        right: 0px;
    }
}

.thanks{
    display: none;
    margin: 100px 0px;
    font-size: 30px;
    font-family: 'Avenir LT W01_95 Black1475556',Courier;
    color: #ff6e41;    
}

// F*cking IE
#mainContainer, #mainContainer .row, #mainContainer .row .form-col{
    height: 100%;
}

@media all and (max-width: 1650px){
    .form-col{
        width: 50%;
    }

    .floor-col{
        width: 50%;
    }
}

@media all and (max-width: 1400px){
    .form-col{
        width: 55%;
    }

    .floor-col{
        width: 45%;
    }
}

@media all and (max-width: 1024px){
    .col{
        width: 100%;
    }

    #floor{
        margin: 30px auto;
    }

    .image-wrapper{
        display: none !important;
    }

    #form{
        margin: 0 auto;
    }

    .background-wrapper{
        width: 100%;
    }

    #contentContainer{
        padding: 30px 15px;
        width: 100%;
    }
    
    #contentContainer > div{
        max-width: 600px;
        margin: 0 auto;
    }

    #contentTitle {
        font-size: 24px;
        display: none;
    }
    
    .contentTitle {
        width: 70%;
        margin: 40px auto 0 auto;
        display: block;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 2px;
        text-align: center;
    }
}


@media all and (max-width: 640px){
    #sticker2{
        position: static;
        margin-top: 20px;
    }
    
    .contentTitle {
        width: 80%;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 130%;
    }
}