// settings


//$global-width: rem-calc(1200);
//$global-font-size: 100%;

$primary-color: #ff6e41;

$body-background: #fff;
$body-font-color: #ff6e41;

$grey: #d3d3d3;
$white: #fff;

/* fonts */

$body-font-family: 'AvenirNextLTW01-Regular', Arial, sans-serif;
$body-font-family-regular: 'AvenirNextLTW01-Regular', Arial, sans-serif;
$body-font-family-italic: 'AvenirNextLTW01-Italic', Arial, sans-serif;
$body-font-family-demi: 'Avenir Next LT W01 Demi', Arial, sans-serif;
$body-font-family-demi-italic: 'AvenirNextLTW01-DemiIta', Arial, sans-serif;
$body-font-family-bold: 'Avenir Next LT W01 Bold', Arial, sans-serif;
$body-font-family-bold-italic: 'AvenirNextLTW01-BoldIta', Arial, sans-serif;

$body-font-family-medium: 'AvenirNextLTW01-Medium', Arial, sans-serif;
$body-font-family-medium-italic: 'AvenirNextLTW01-MediumI_721278', Arial, sans-serif;

$body-font-family-black: 'Avenir LT W01_95 Black1475556', Arial, sans-serif;