/*!
redi landing
*/

*, .col, .row {
    box-sizing: border-box
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

.contactPerson > span:first-child, .label, .remodal h2 {
    font-weight: 700
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

.checkbox-wrapper label,
.row:after {
    content: "";
    clear: both
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.show-for-mobile {
    display: none;
}

.show-for-small {
    display: none !important;
}

.show-for-large {
    display: inline-block !important;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    background-position: left right;
    background-repeat: repeat-y;
    font-family: "Avenir Next LT W01 Demi", sans-serif;
    background-color: #bdefe2;
    -webkit-text-size-adjust: none;
}

body.main {
    background-color: #fff;
}

#sizer,
#floorsizer {
    display: none;
}

#background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../images/frontbg_1920.png) no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.index #mainContainer {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

#contentContainer {
    padding: 50px 0 50px 50px;
    display: inline-block;
}

.main #contentContainer {
    background: #bdefe2;
}

.index #contentBox {
    width: 48%;
    float: left;
    position: relative;
    padding: 20px 0;
    background-color: #fff;
    color: #ff6e41;
}

.index #contentBox > div {
    padding: 0 20px
}

#mainContainer {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#contentTitle,
.contentTitle {
    font-size: 36px;
    color: #ff6e41;
    display: block;
}

.contentTitle {
    display: none;
}

#contentTitle {
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 2px;
    font-family: "Avenir LT W01_95 Black1475556", Arial, sans-serif;
    margin: 20px 0;
    font-weight: normal;
}

.index #contentText {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.index #buttonFacts {
    max-width: 250px;
    height: auto;
    margin: 40px 0 20px 20px;
}

.index #buttonFacts:hover {
    opacity: 0.9;
}

.index #infoContainer {
    display: inline-block;
    color: #ff6e41;
    width: 42%;
    margin-left: 40px;
    padding-top: 85px;
}

.index .infoBox {
    text-transform: uppercase;
    background-color: #fff;
    line-height: 1.3;
    font-size: 32px;
    font-family: "Avenir Next LT W01 Bold", Arial, sans-serif;
    padding: 8px 15px;
    margin-bottom: 20px;
    font-weight: normal;
}

.index #sticker {
    position: absolute;
    right: -44px;
    bottom: -86px;
    background-image: url(../images/sticker.png);
    background-repeat: no-repeat;
    width: 197px;
    height: 198px;
    z-index: 99999;
}

.index #footer {
    margin-top: 80px;
    padding: 50px;
    clear: both;
}

.index #sponsorContainer {
    position: relative;
    width: auto;
    height: 86px;
}

.index #sponsorTitle {
    background-image: url(../images/sponsors.png);
    width: 231px;
    height: 38px;
    position: absolute;
    bottom: 0;
}

#floorButtonInfo,
#logos,
#sticker2,
#sticker3,
#terms,
.floorButton {
    position: absolute
}

#floor,
.contactPerson {
    background-repeat: no-repeat
}

.regular {
    font-family: "AvenirNextLTW01-Regular";
}

.italic {
    font-family: "AvenirNextLTW01-Italic";
}

.demi {
    font-family: "Avenir Next LT W01 Demi";
}

.demi-italic {
    font-family: "AvenirNextLTW01-DemiIta";
}

.bold {
    font-family: "Avenir Next LT W01 Bold";
}

.bold-italic {
    font-family: "AvenirNextLTW01-BoldIta";
}

.medium {
    font-family: "AvenirNextLTW01-Medium";
}

.medium-italic {
    font-family: "AvenirNextLTW01-MediumI_721278";
}

#floor {
    background-image: url(../images/floor.png);
    width: 800px;
    height: 800px;
    background-size: contain;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    position: relative
}

.floorButton {
    width: 10%;
    height: 10%;
    display: block;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0)
}

#floorButtonInfo {
    max-width: 150px;
    background-color: transparent;
    padding: 10px;
    color: #FFF;
    font-family: "Avenir Next LT W01 Demi", sans-serif;
    font-size: 12px;
    line-height: 1.1;
}

#backgroundImage {
    display: none
}

#form {
    display: block;
    position: relative;
    margin-top: 50px;
    max-width: 600px
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

::-webkit-input-placeholder {
    color: red
}

::-moz-placeholder {
    color: red
}

:-ms-input-placeholder {
    color: red
}

:-moz-placeholder {
    color: red
}

.formField {
    display: inline-block;
    padding: 0 15px 12px 15px;
}

.formFieldFullWidth {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

#form_company {
    width: 100%;
    max-width: 100%;
}

.label {
    font-family: "Avenir Next LT W01 Demi", Arial, sans-serif;
    font-size: 16px !important;
    color: #ff6e41
}

.formRow {
    font-size: 16px !important;
}

.textAreaInput,
.textInput {
    color: #ff6e41;
    font-size: 20px;
    background-color: #FFF;
    border: none;
    outline: 0;
    width: 100%
}

.textInput {
    line-height: 50px;
    font-family: "Avenir Next LT W01 Demi", Arial, sans-serif;
    padding-left: 15px
}

.textAreaInput {
    font-family: "Avenir Next LT W01 Demi", Arial, sans-serif;
    height: 137px;
    padding: 15px;
    resize: none
}

.formButton,
.formButton > a {
    color: #FFF;
    font-size: 14px;
    font-family: "Avenir Next LT W01 Demi", Arial, sans-serif;
}

.checkbox-wrapper label,
.formButton {
    cursor: pointer;
    background-color: #ff6e41
}

.formButton {
    line-height: 41px;
    display: inline-block;
    text-align: center;
    padding: 1px 13px 0;
    margin-bottom: 12px;
    margin-right: 12px
}

.formButton > a {
    text-decoration: none
}

.block {
    display: block;
}

.laheta {

}

.lataa {
    float: left;
}

.formButton2 {
    float: left;
}

#terms a,
.rules {
    text-decoration: underline
}

#terms {
    top: -15px
}

#terms a {
    color: #ff6e41;
    font-size: 12px;
    font-family: "AvenirNextLTW01-Regular";
}

#sticker2 {
    right: -118px;
    bottom: -70px;
    background-image: url(../images/sticker2.png);
    background-size: contain;
    width: 153px;
    height: 153px;
    z-index: 10;
    cursor: pointer
}

#sticker3 {
    right: 22px;
    bottom: -76px;
    background-image: url(../images/sticker3.png);
    background-size: contain;
    width: 153px;
    height: 153px;
    z-index: 10;
}

#logos {
    background-image: none;
    width: 653px;
    height: 530px;
    display: block;
    left: 570px;
    top: -10px;
    z-index: 999999;
    cursor: pointer
}

#contactsContainer {
    margin-bottom: 30px
}

#contactTitle {
    font-size: 30px;
    letter-spacing: 1.1px;
    font-family: "Avenir LT W01_95 Black1475556", Arial, sans-serif;
    color: #ff6e41;
    margin-top: 30px;
    display: block
}

.contactPerson,
.contactPerson:first-child {
    padding-top: 23px;
    padding-bottom: 18px;
    display: inline-block
}

.contactPerson {
    font-size: 13px;
    font-family: "Avenir Next LT W01 Demi", Arial, sans-serif;
    color: #ff6e41;
    padding-right: 23px;
    background-image: url(../images/spacerline.png);
    width: 32%;
    vertical-align: top;
    line-height: 1.3;
}

.contactPerson:first-child {
    background-image: none;
    width: 100%
}

.background-wrapper {
    display: table;
    height: 100%;
    background-color: #bdefe2;
}

.background-wrapper > div {
    display: table-cell;
    vertical-align: top;
    height: 100%
}

.background-wrapper .image-wrapper img {
    height: 100%
}

.image-wrapper {
    background: #fff;
}

.row .row {
    margin: 0 -15px
}

.msg,
.rules {
    margin-top: 5px
}

.row:after {
    display: table;
    width: 100%;
}

.col {
    float: left;
    width: 50%;
}

.floor-col {
    padding: 30px;
    width: 55%;
}

.form-col {
    width: 45%
}

.label {
    margin-bottom: 5px
}

.rules {
    text-transform: uppercase;
    font-size: 12px;
    color: #ff6e41;
    display: block;
    clear: both;
}

.msg {
    color: red;
    font-family: "AvenirNextLTW01-Regular";
    font-size: 12px;
}

.checkbox-wrapper {
    overflow: hidden;
    height: 42px;
    margin-bottom: 10px;
}

.checkbox-wrapper input {
    display: none
}

.checkbox-wrapper label {
    display: table;
    padding: 5px 35px 5px 5px;
}

.checkbox-wrapper label:before,
.checkbox-wrapper span {
    display: inline-block;
    float: left
}

.checkbox-wrapper label:before {
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #ff6e41;
    text-align: center;
    content: " ";
    background-color: #fff;
    margin-right: 10px;
    font-size: 32px
}

.checkbox-wrapper span {
    color: #fff;
    font-family: inherit;
    line-height: 1.3;
    font-family: "Avenir Next LT W01 Demi", sans-serif;
    font-size: 14px;
}

.checkbox-wrapper input:checked + label:before {
    content: "\2714"
}

.remodal h2 {
    font-size: 24px
}

.remodal ol {
    list-style: outside;
    text-align: left
}

.remodal ol li {
    text-align: left;
    padding: 5px;
    list-style: none;
}

.remodal .remodal-confirm {
    background-color: #ff6e41;
    margin-top: 20px
}

.remodal.companies-modal {
    padding: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, .3)
}

.remodal.companies-modal .remodal-close {
    left: auto;
    right: 0;
}

.thanks {
    display: none;
    margin: 100px 0;
    font-size: 30px;
    font-family: "Avenir LT W01_95 Black1475556", Arial;
    color: #ff6e41;
    text-align: center;
}

#mainContainer,
#mainContainer .row,
#mainContainer .row .form-col {
    height: 100%
}

@media all and (max-width: 1750px) {
    #sticker2, #sticker3 {
        height: 120px;
        width: 120px;
    }

    #sticker2 {
        bottom: -10px;
        right: -55px;
    }

    #sticker3 {
        bottom: -5px;
        right: 56px;
    }
}

@media all and (max-width: 1650px) {
    .floor-col,
    .form-col {
        width: 50%
    }
}

@media all and (max-width: 1450px) {
    .form-col {
        width: 47%
    }

    .floor-col {
        width: 53%
    }
}

@media all and (max-width: 1450px) {

    .br {
        display: block;
    }

    #sticker2 {
        right: -40px;
        bottom: -233px;
    }

    #sticker3 {
        bottom: -235px;
        right: 72px;
    }

    .contactPerson {
        width: 100%;
    }

}

@media all and (max-width: 1024px) {

    #sizer,
    #floorsizer {
        display: block;
    }

    .br {
        display: none;
    }

    #background {
        display: none;
    }

    .show-for-small {
        display: block !important;
    }

    .show-for-large {
        display: none !important;
    }

    .index #infoContainer {
        width: 80%;
    }

    .index #contentContainer {
        padding: 0;
        display: block;
    }

    .index #mainContainer {
        width: 100%;
        position: relative;
        background-color: #bdefe2;
        background-image: url(../images/frontbg_1024.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .index #contentBox {
        width: 96%;
        float: none;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .index #contentTitle {
        font-size: 28px;
    }

    .index #contentText {
        font-size: 16px;
        line-height: 1.3;
    }

    .index .infoBox {
        font-size: 3.6vw;
        max-width: 80%;
    }

    .index #sticker {
        right: 0;
        bottom: -36px;
        background-size: 140px 140px;
        width: 140px;
        height: 140px;
    }

    .index #footer {
        width: 96%;
        padding: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .index #footer:after {
        content: " ";
        display: block;
        clear: both;
        height: 30px;
    }

    /* MAIN */
    .form-col {
        width: 100%;
        background-color: #bdefe2;
    }

    .background-wrapper {
        display: block;
        width: 100%;
        height:auto;
    }

    .contentTitle.mobile {
        width: 90%;
        max-width: 600px;
        margin: 40px auto;
        font-size: 3vw;
        text-align: center;
        line-height: 1.3;
        letter-spacing: 1.2px;
        font-family: "Avenir LT W01_95 Black1475556", Arial;
    }

    .mobile_small_bg {
        max-width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .background-wrapper > div {
        display: block;
    }

    .image-wrapper {
        display: none !important;
    }

    #form {
        margin: 50px auto;
        max-width: 600px;
    }

    .laheta {
        float: left;
    }

    .block {
        display: none;
    }

    .formButton2 {
        float: right;
    }

    .main #contentContainer {
        padding: 25px 0;
        display: block;
        width: 93%;
        height:auto;
    }

    #contactTitle,
    #contactsContainer {
        max-width: 600px;
        margin: 0 auto;
    }

    #contactTitle,
    .contactPerson:first-child {
        text-align: center;
    }

    .contactPerson {
        width: 32%;
    }

    #sticker2 {
        right: -57px;
        bottom: -150px;
    }

    #sticker3 {
        bottom: -251px;
        right: -55px;
    }

    .formRowButtons {
        margin-bottom: 80px;
    }

}

@media all and (max-width: 700px) {

    body.main .show-for-mobile {
        display: block;
    }

    body.main .show-for-large {
        display: none !important;
    }

    .main #contentContainer {
        width: 90%;
        margin: 0 auto;
    }

    .contactPerson {
        padding-right: 0;
        width: 100%;
        background-position: center top;
        text-align: center;
        font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
    }

    .contactPerson span {
        font-family: "Avenir Next LT W01 Demi", Arial, sans-serif;
    }

    #sticker2, #sticker3 {
        display: none;
    }

    .mobilesticker {
        display: block;
        margin: 0 auto;
        width: 200px;
        cursor: pointer;
    }

    .mobilesticker2 {
        padding-bottom: 50px;
        width: 150px;
    }

    .contentTitle.mobile {
        font-size: 22px;
        line-height: 1.2;
    }

}

@media all and (max-width: 640px) {

    #sizer {
        display: none;
    }

    #sticker2 {
        position: static;
        margin-top: 20px
    }

    .show-for-mobile {
        display: block;
    }

    .topbg {
        max-width: 100%;
    }

    .contentTitle {
        width: 80%;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 130%;
    }

    .index #infoContainer {
        padding: 0;
    }

    .index #infoContainer,
    .index .infoBox {
        width: 100%;
        max-width: 100%;
        margin: 0 0 4% 0;
        font-size: 24px;
        line-height: 1.2;
    }

    .index #contentBox {
        position: relative;
        top: auto;
        width: 100%;
    }

    .index #contentTitle {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .index #contentText {
        font-family: "Avenir Next LT W01 Demi";
        font-size: 14px;
        line-height: 1.3;
    }

    .index #buttonFacts {
        width: 50%;
    }

    .index #sticker {
        right: 10px;
        bottom: -47px;
        background-size: 110px 110px;
        width: 110px;
        height: 110px;
    }

    .index #footer {
        display: none;
    }

    .mobilefooter {
        margin-top: 60px;
        max-width: 100%;
    }

}

@media all and (max-width: 500px) {

    .formButton2 {
        display: block;
        float: left;
        margin-bottom: 10px;
    }

}






