@media only screen and (max-width : 1024px){

    #mainContainer{
        width: 100%;
        min-height:100%;
        position: relative;
        background-color: #bdefe2;
        background-image: url(../images/frontbg_1024.png);
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
    }

    #contentContainer{
        margin-left: 20px;
        padding-bottom: 100px;
    }

    #contentBox{
        display: inline-block;
        position: relative;
        margin-right: 43px;
        margin-top: 62%;
        margin-bottom: 30px;
        background-color: #FFFFFF;
        width: calc(100% - 20px);
        color: #ff6e41;
    }

    #contentTitle{
        font-size: 4.5vw;
        font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
        line-height: 5.5vw;
        padding-top: 10%;
        padding-left: 40px;
        padding-right: 40px;
    }

    #contentText{
        font-size: 2.4vw;
        font-family:'AvenirNextLTW01-Medium', Arial, sans-serif;
        font-weight: bold;
        line-height: 3.2vw;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 50px;
    }

    #buttonFacts{
        background-image: url(../images/button_facts.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ff6e41;
        width: 40%;
        height: 37px;
        cursor: pointer;
        margin-top: 45px;
        margin-left: 40px;
        margin-bottom: 50px;
    }

    #sticker{
        position: absolute;
        right: 0px;
        bottom: -5%;
        background-image: url(../images/sticker.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 25%;
        height: 25%;
        z-index: 99999;
    }

    #infoContainer{
        position: relative;
        display: inline-block;
        max-width: unset;
        min-width: unset;
        width: calc(100% - 20px);
        color: #ff6e41;
        margin-top: 30px;

        position: absolute;
        top: 80px;
        max-width: 70%;
    }

    .infoBox{
        background-color: #FFFFFF;
        line-height: 5.5vw;
        font-size: 4vw;
        font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        padding: 18px;
        margin-bottom: 28px;
    }

    #sponsorContainer{
        position: relative;
        width: auto;
        height: 86px;
    }

    #sponsorTitle{
        background-image: url(../images/sponsors.png);
        width: 231px;
        height: 38px;
        position: absolute;
        bottom: 0px;
    }

    #sponsorLogos{

    }

    #footer{
        height:100px;
        margin-top:-100px;
        margin-left: 20px;
    }
}