body{
    margin: 0px;
}
html, body {
    height: 100%;
}


.regular {
    font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
}
.italic {
    font-family:'AvenirNextLTW01-Italic', Arial, sans-serif;
}
.demi {
    font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
}
.demi-italic {
    font-family:'AvenirNextLTW01-DemiIta', Arial, sans-serif;
}
.bold {
    font-family:'Avenir Next LT W01 Bold', Arial, sans-serif;
}
.bold-italic {
    font-family:'AvenirNextLTW01-BoldIta', Arial, sans-serif;
}
.medium {
    font-family:'AvenirNextLTW01-Medium', Arial, sans-serif;
}
.medium-italic {
    font-family:'AvenirNextLTW01-MediumI_721278', Arial, sans-serif;
}
.black {
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
}


#mainContainer{
    width: 100%;
    min-height:100%;
    position: relative;
    background-color: #bdefe2;
    background-image: url(../images/frontbg_1920.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

#contentContainer{
    margin-left: 57px;
    padding-bottom: 100px;
}

#contentBox{
    display: inline-block;
    position: relative;
    margin-right: 43px;
    margin-top: 138px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    width: 809px;
    color: #ff6e41;
}
#contentTitle{
    font-size: 40px;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    line-height: 45px;
    padding-top: 90px;
    padding-left: 40px;
}
#contentText{
    font-size: 20px;
    font-family:'AvenirNextLTW01-Medium', Arial, sans-serif;
    font-weight: bold;
    line-height: 23px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 100px;
}
#buttonFacts{
    background-image: url(../images/button_facts.png);
    width: 250px;
    height: 37px;
    cursor: pointer;
    margin-top: 45px;
    margin-left: 40px;
    margin-bottom: 50px;
}
#sticker{
    position: absolute;
    right: -43px;
    bottom: -80px;
    background-image: url(../images/sticker.png);
    width: 197px;
    height: 198px;
    z-index: 99999;
}
#infoContainer{
    position: relative;
    display: inline-block;
    max-width: 680px;
    min-width: 560px;
    color: #ff6e41;
    margin-top: 30px;
}
.infoBox{
    background-color: #FFFFFF;
    line-height: 40px;
    font-size: 36px;
    font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
    text-transform: uppercase;
    padding: 18px;
    margin-bottom: 28px;
}

#sponsorContainer{
    position: relative;
    width: auto;
    height: 86px;
}

#sponsorTitle{
    background-image: url(../images/sponsors.png);
    width: 231px;
    height: 38px;
    position: absolute;
    bottom: 0px;
}

#sponsorLogos{

}

#footer{
    height:100px;
    margin-top:-100px;
    margin-left: 57px;
}