body{
    margin: 0px;
    background-color: #FFFFFF;
    background-image: url(../images/bg2.png);
    background-position: left right;
    background-repeat: repeat-y;
}
html, body {
    height: 100%;
}

.regular {
    font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
}
.italic {
    font-family:'AvenirNextLTW01-Italic', Arial, sans-serif;
}
.demi {
    font-family:'Avenir Next LT W01 Demi', Arial, sans-serif;
}
.demi-italic {
    font-family:'AvenirNextLTW01-DemiIta', Arial, sans-serif;
}
.bold {
    font-family:'Avenir Next LT W01 Bold', Arial, sans-serif;
}
.bold-italic {
    font-family:'AvenirNextLTW01-BoldIta', Arial, sans-serif;
}
.medium {
    font-family:'AvenirNextLTW01-Medium', Arial, sans-serif;
}
.medium-italic {
    font-family:'AvenirNextLTW01-MediumI_721278', Arial, sans-serif;
}
.black {
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
}

#mainContainer{
    width: 100%;
    min-height:100%;
    position: relative;
}

#contentContainer{
    margin-left: 57px;
    margin-top: 83px;
    background-color: rgba(255,0,0,0.0);
}

#contentTitle{
    font-size: 36px;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    color: #ff6e41;
    max-width: 640px;
    width: 640px;
    display: block;
}

#floor{
    background-image: url(../images/floor.png);
    width: 800px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    left: 870px;
    top: 64px;
}
.floorButton{
    width: 10%;
    height: 10%;
    display: block;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255,0,0,0);
}
#floorButtonInfo{
    max-width: 150px;
    position: absolute;
    background-color: transparent;
    padding: 10px;
    color: #FFFFFF;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    font-size: 12px;
}
#backgroundImage{
    display: none;
}
#form{
    display: block;
    width: 600px;
    position: relative;
    margin-top: 50px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
}
::-moz-placeholder { /* Firefox 19+ */
    color: red;
}
:-ms-input-placeholder { /* IE 10+ */
    color: red;
}
:-moz-placeholder { /* Firefox 18- */
    color: red;
}


.formField{
    display: inline-block;
    max-width: 285px;
    margin-right: 28px;
    margin-bottom: 30px;
}
.formFieldFullWidth{
    display: block;
    margin-right: 28px;
    margin-bottom: 30px;
    max-width: 545px;
    width: 545px;
}
#form_company{
    width: 100%;
    max-width: 100%;
}
.label{
    font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ff6e41;
}
.textInput{
    line-height: 50px;
    color: #ff6e41;
    font-size: 28px;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    max-width: 250px;
    padding-left: 15px;
}
.textAreaInput{
    color: #ff6e41;
    font-size: 16px;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    width: 100%;
    height: 137px;
    padding: 15px;
    resize: none;
}
.formButton{
    color: #FFFFFF;
    font-size: 14px;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    line-height: 42px;
    background-color: #ff6e41;
    display: inline-block;text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    cursor: pointer;
    margin-bottom: 12px;
    margin-right: 12px;
}
.formButton > a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
}
.formButton2{
    color: #ff6e41;
    font-size: 14px;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    line-height: 42px;
    background-color: transparent;
    display: block;
    text-align: left;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 1px;
    cursor: pointer;
    position: relative;
    background-image: url(../images/check0.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.formButton2.checked{
    background-image: url(../images/check1.png);
}
#terms{
    position: absolute;
    top: -15px;
}
#terms a{
    text-decoration: underline;
    color: #ff6e41;
    font-size: 12px;
    font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
}
#sticker2{
    position: absolute;
    right: -2px;
    bottom: -40px;
    background-image: url(../images/sticker2.png);
    width: 153px;
    height: 153px;
    z-index: 99999;
    cursor: pointer;
}
#logos{
    background-image: none;
    width: 653px;
    height: 530px;
    display: block;
    position: absolute;
    left: 570px;
    top: -10px;
    z-index: 999999;
    cursor: pointer;
}
#contactsContainer{
    width: 700px;
    margin-bottom: 30px;
}

#contactTitle{
    font-size: 30px;
    font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    color: #ff6e41;
    margin-top: 20px;
    width: 600px;
    display: block;
}

.contactPerson{
    font-size: 14px;
    font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
    color: #ff6e41;
    padding-top: 23px;
    padding-bottom: 15px;
    margin-right: 23px;
    background-image: url(../images/spacerline.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: auto;
    vertical-align: top;
}
.contactPerson:first-child{
    padding-top: 23px;
    padding-bottom: 15px;
    background-image: none;
    display: inline-block;
    width: 600px;
}
.contactPerson > span:first-child{
    font-weight: bold;
}