@media only screen and (max-width : 1024px) {

    body{
        margin: 0px;
        background-color: #FFFFFF;
        background-image: unset;
        background-position: unset;
        background-repeat: unset;
    }

    #contentContainer{
        margin-left: 0px;
        margin-top: 0px;

    }

    #contentTitle{
        font-size: 2.0vw;
        font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
        color: #ff6e41;
        max-width: unset;
        width: unset;
        display: block;
        text-align: center;
        padding-top: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #floor{
        background-image: url(../images/floor.png);
        width: 80vw;
        height: 80vw;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        margin-top: 5%;
        left: unset;
        top: unset;
    }

    .floorButton{
        width: 10%;
        height: 10%;
        display: block;
        cursor: pointer;
        position: absolute;
        background-color: rgba(255,0,0,0);
    }
    #floorButtonInfo{
        max-width: 50%;
        position: absolute;
        background-color: transparent;
        padding: 10px;
        color: #FFFFFF;
        font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
        font-weight: bold;
        line-height: 3vw;
        font-size: 2.5vw;
    }
    #backgroundImage{
        height: 100px;
        width: 100%;
        background-color: #bdefe2;
        display: block;
        background-image: url(../images/wave.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }
    #footeri{
        background-color: #bdefe2;
        position: relative;
        display: block;
        padding-bottom: 40px;
    }
    #form{
        display: block;
        width: 80%;
        position: relative;
        margin: 0 auto;
    }
    #allFormFields{
        display: block;
        width: auto;
    }
    #fieldMaxWidth{
        display: inline-block;
        width: auto;
    }
    .formRow{
        display: block;
        width: auto;
    }
    .formRowButtons{
        display: block;
        width: auto;
        position: relative;
    }
    .formField{
        display: inline-block;
        max-width: 45%;
        width: 45%;
        margin-bottom: 30px;
    }
    .formFieldFullWidth{
        display: inline-block;
        margin-bottom: 30px;
        max-width: calc(100% - 5%);
        width:  calc(100% - 5%);
    }
    #form_company{

    }
    .label{
        font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #ff6e41;
    }
    .textInput{
        line-height: 50px;
        color: #ff6e41;
        font-size: 28px;
        font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
        background-color: #FFFFFF;
        border: none;
        outline: none;
        max-width: 100%;
        width: 100%;
        padding-left: 15px;
    }

    .textAreaInput{
        color: #ff6e41;
        font-size: 16px;
        font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
        background-color: #FFFFFF;
        border: none;
        outline: none;
        height: 100px;
        padding: 10px;
        resize: none;
    }

    .formButton{
        color: #FFFFFF;
        font-size: 14px;
        font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
        line-height: 42px;
        background-color: #ff6e41;
        display: inline-block;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1px;
        cursor: pointer;
        margin-bottom: 12px;
        margin-right: 12px;
    }
    .formButton > a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;
        font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
    }
    .formButton2{
        color: #ff6e41;
        font-size: 14px;
        font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
        line-height: 42px;
        background-color: transparent;
        display: block;
        text-align: left;
        padding-left: 50px;
        padding-right: 10px;
        padding-top: 1px;
        cursor: pointer;
        position: relative;
        background-image: url(../images/check0.png);
        background-repeat: no-repeat;
        background-position: 5px 5px;
        margin-top: 10px;
    }
    .formButton2.checked{
        background-image: url(../images/check1.png);
    }
    #terms{
        position: absolute;
        top: -15px;
    }
    #terms a{
        text-decoration: underline;
        color: #ff6e41;
        font-size: 12px;
        font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
    }
    #sticker2{
        margin: 0 auto;
        position: absolute;
        right: 10px;
        top: 10px;
        background-image: url(../images/sticker2.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 15vw;
        height: 15vw;
        z-index: 99999;
        cursor: pointer;
        display: block;
    }
    #logos{
        margin-top: 30px;
        width: 100%;
        height: unset;
        left: unset;
        top: unset;
        display: block;
        position: relative;
        z-index: 999999;
        cursor: pointer;
    }


    #contactsContainer{
        width: 80%;
        margin-bottom: 30px;
        margin: 0 auto;
        margin-top: 50px;
        margin: 0 auto;
    }

    #contactTitle{
        font-size: 30px;
        font-family:'Avenir LT W01_95 Black1475556', Arial, sans-serif;
        color: #ff6e41;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 100%;
        display: block;
        text-align: center;
    }

    .contactPerson{
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
        color: #ff6e41;
        padding-top: 23px;
        padding-bottom: 15px;
        margin-right: 23px;
        background-image: url(../images/spacerline.png);
        background-repeat: no-repeat;
        background-position: center top;
        display: block;
        width: auto;
        vertical-align: top;
    }
    .contactPerson:first-child{
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        font-family:'AvenirNextLTW01-Regular', Arial, sans-serif;
        color: #ff6e41;
        padding-top: 23px;
        padding-bottom: 15px;
        margin-right: 23px;
        background-image: url(../images/spacerline.png);
        background-repeat: no-repeat;
        display: block;
        width: auto;
        vertical-align: top;
    }
    .contactPerson > span:first-child{
        font-weight: bold;
    }

}